:root {
    --highlight-neutral: rebeccapurple;
    --highlight-green: #52b202;
    --highlight-red: #ff3d00;
}

.App {
    display: grid;
    grid-template-columns: 800px 200px;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5em 1em;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.Console {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__start {
        padding: 8px 12px;
        background-color: white;
        cursor: pointer;
    }

    &__letter-num {
        padding: 30px;
        font-weight: 600;
        font-size: 33px;
        color: #333;
    }

    &__input {
        padding: 8px;
    }
}

.DiffSelect {
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 30px 10px;

    &__radio {
        text-transform: capitalize;
    }

    & label span {
        text-transform: capitalize;
    }
}

.LetterTable {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 1fr));
}

.Letter {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: #333;

    &--hit {
        color: var(--highlight-green);
    }

    &--miss {
        color: var(--highlight-red);
    }
}

.Score {
    grid-column: 2;
    grid-row: 1;
    padding: 30px;
    text-align: right;
    font-weight: 600;

    & > * {
        padding: 4px;
    }

    &__hit {
        color: var(--highlight-green);
    }

    &__miss {
        color: var(--highlight-red);
    }

    &__left {
        color: var(--highlight-neutral);
    }
}
