.App {
    display: grid;
    grid-template-columns: 800px 200px;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3em 1em;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.Console {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__start {
        padding: 6px 10px;
        background-color: white;
    }

    &__letter-num {
        padding: 30px;
        font-weight: 600;
        font-size: 33px;
        color: #333;
    }
}

.DiffSelect {
    display: flex;
    padding: 20px 10px;

    &__radio {
        text-transform: capitalize;
    }
}

.LetterTable {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 1fr));
}

.Letter {
    text-transform: uppercase;
    font-weight: 600;
    color: #333;

    &--hit {
        color: aquamarine;
    }

    &--miss {
        color: red;
    }
}

.Score {
    grid-column: 2;
    grid-row: 1;
}
